to experience this project please install pandas and matplotlib libraries on your device
then download and run all the .py files
to see my research and experience my story not in a python file, please download and open the research.docx file
